<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title></title>
	</head>
	<body>
		<table width="100%" border="0">
			<tr>
				<td width="25%" colspan="2" align="right">
					<p>
						$Kinh_gui_co_quan
					</p>
				</td>
				<td width="35%">
				</td>
				<td width="40%" align="center">
					<p>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
					<p>Độc lập - Tự do - Hạnh phúc</p>
					<p>Đà nẵng, ngày $ngay, tháng $thang, năm $nam</p>
				</td>
			</tr>
			<tr>
				<td colspan="5" align="center">
					<p>GIẤY BIÊN NHẬN HỒ SƠ</p>
					<p>Số hồ sơ: $ma_ho_so</p>
				</td>
			</tr>
			<tr>
				<td colspan="5"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">Họ và tên: $ho_ten_can_bo_tiep_nhan</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">Chức vụ: $chuc_vu_can_bo_tiep_nhan</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">Đã tiếp nhận hồ sơ của ông(bà): $ho_ten_nguoi_lap_ho_so</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">Thường trú tại: $dia_chi_thuong_tru</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">Số điện thoại: $so_dien_thoai</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">Tên thủ tục tiếp nhận: $ten_thu_tuc_tiep_nhan</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">
					<table>
						<tr>
							<td>Hồ sơ gồm có:</td>
							<td></td>
						</tr>
						$ho_so_gom_co
					</table>
				</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">Ngày nhận: $ngay_nhan</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">Ngày trả kết quả: $ngay_tra</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">Để xem tiến độ giải quyết hồ sơ, hiệu chỉnh hồ sơ quý khách vào <a href="#">xem chi tiết hồ sơ</a> </td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td colspan="3" width="70%">
					<table width="100%">
						<tr>
							<td width="50%">
								<p><b>Nơi nhận:</b></p>
								<p></p>
								<p></p>
								<p>Lưu:</p>
							</td>
							<td width="50%" align="center">
								<p><b>NGƯỜI TIẾP NHẬN</b></p>
								<p>(Ký và ghi rõ họ tên)</p>
								<p></p>
							</td>
						</tr>
					</table>
				</td>
				<td width="20%"></td>
			</tr>
			<tr>
				<td colspan="5"><br></td>
			</tr>
		</table>
	</body>
</html>