Chào bạn $citizen_name !

Cảm ơn bạn đã đăng ký tài khoản người dùng trên hệ thống của chúng tôi.
Mời bạn click vào link sau để hoàn tất quá trình đăng ký tài khoản sử dụng.
$url
Đường dẫn đến cổng dịch vụ công trực tuyến: $uri để bạn đăng nhập tài khoản.
Lưu ý: Cấm reply mail này dưới mọi hình thức

Chính quyền điện tử Đà Nẵng